/* Basic starting structure */
:root {
    background-color: #1a1a1a;
    background: url(../images/cinema.avif) center;
    font-size: 10px;
}

* {
    box-sizing: border-box;
    font-family: 'Lora', 'Playfair', 'Roboto', serif;
    margin: 0;
    padding: 0;
    color: #cbb26a
}

h1 {
    font-size: 5rem;
    color: #d8c690;
    margin-bottom: 5rem;
    text-align: center;
}

.text-deco-none {
    text-decoration: none;
    cursor: default;
}

h2 {
    font-size: 4rem;
    color: #d8c690;
    margin-bottom: 4rem;
    font-weight: 500;
}

h3 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

/* Container */


.container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(26, 26, 26, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
}

.container.correct {
    background-color: rgba(53, 94, 59, 0.7);
}

.container.wrong {
    background-color: rgba(148, 1, 40, 0.7);
}

.container>* {
    width: 100%;
}

.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Buttons */

.btn {
    font-size: 2rem;
    padding: 1rem 0;
    width: 25rem;
    text-align: center;
    border: 0.2rem solid #e8d398;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #cbb26a;
    background-color: rgb(255, 246, 231);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 2rem 0 rgba(255, 240, 216, 0.5);
}

.btn-off:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.answer-btn {
    width: 50vw;
    max-width: 50rem;
}

.answer-btn.wrong {
    background-color: #940128;
}

.answer-btn.correct {
    background-color: #355E3B;
}

.restart-btn,
.next-btn {
    width: 24.8vw;
    max-width: 24.8rem;
}


/* Rules */

.rules-text {
    font-size: 1.5rem;
    background-color: rgb(255, 246, 231);
    max-width: 80rem;
}

.container>.rules-text {
    width: 80vw;
    height: auto;
}

.rules-text:hover {
    box-shadow: 0 0.5rem 2rem 0 rgba(255, 240, 216, 0.5);
}

#rules-list {
    list-style: none;
}

.rule-item {
    padding: 1rem;
}

/* Scoreboard */

.scoreboard {
    display: inline-flex;
    font-size: 1.5rem;
}

.scoreboard>p {
    padding-left: 4rem;
    padding-right: 2rem;
}

/* Footer and links */

footer {
    width: 100vw;
    height: auto;
    background-color: rgba(26, 26, 26, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
}

footer ul {
    display: inline-flex;
    list-style-type: none;
}

footer li>a {
    font-size: 250%;
    padding-left: 2.5rem;
}

footer li>a:hover {
    color: #c9b6a1;
    box-shadow: rgba(255, 240, 216, 0.5);
}

.links-page {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 5rem;
}

footer p {
    font-size: 2rem;
    display: flex;
}

footer p a {
    text-decoration: none;
    color: #f8f9f8;
}

footer p a:hover {
    text-decoration: none;
    color: #c9b6a1;
}

.project-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}