/* Basic starting structure */
:root {
    background-color: #1a1a1a;
    background: url(../images/cinema.avif) center;
    font-size: 10px;
}

* {
    box-sizing: border-box;
    font-family: 'Lora', 'Playfair', 'Roboto', serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5rem;
    color: #d8c690;
    margin-bottom: 5rem;
    text-align: center;
    cursor: default;
}

h2 {
    font-size: 4rem;
    color: #d8c690;
    margin-bottom: 4rem;
    font-weight: 500;
}

h3 {
    font-size: 2.5rem;
    color: #d8c690;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

/* Container */


.container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(26, 26, 26, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
    padding-top: 5rem;
}

.container.correct {
    background-color: rgba(53, 94, 59, 0.7);
}

.container.wrong {
    background-color: rgba(148, 1, 40, 0.7);
}

.container>* {
    width: 100%;
}

.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

/* Buttons */

.btn {
    font-size: 2rem;
    padding: 1rem 0;
    width: 25rem;
    text-align: center;
    border: 0.2rem solid #e8d398;
    border-radius: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #cbb26a;
    background-color: rgb(255, 246, 231);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 1rem 2rem 0 rgba(61, 188, 159, 0.5);
}

.disable-hover {
    pointer-events: none;
    cursor: default;
}

.btn-off:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.btn-hover:hover {
    color: rgb(255, 246, 231);
    background-color: rgb(61, 188, 159);
}

.answer-btn {
    width: 50vw;
    max-width: 50rem;
}

.answer-btn.wrong {
    background-color: #940128;
}

.answer-btn.correct {
    background-color: #355E3B;
}

.restart-btn,
.next-btn {
    width: 24.8vw;
    max-width: 24.8rem;
}


/* Rules */

.rules-text {
    font-size: 1.5rem;
    background-color: rgb(255, 246, 231);
    color: #d8c690;
    max-width: 80rem;
}

.container>.rules-text {
    width: 80vw;
    height: auto;
}

.rules-text:hover {
    box-shadow: 0 0.5rem 2rem 0 rgba(255, 240, 216, 0.5);
}

#rules-list {
    list-style: none;
}

.rule-item {
    padding: 1rem;
}

/* Progress display */

#progress-display {
    display: flex;
    width: 80vw;
    max-width: 80rem;
    color: #d8c690;
    justify-content: space-around;
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}



/* Footer and links */

footer {
    width: 100vw;
    height: auto;
    background-color: rgba(26, 26, 26, 0.7);
    display: flex;
    color: #d8c690;
    justify-content: center;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
    padding-top: 10rem;
}

footer ul {
    display: flex;
    list-style-type: none;
}

/* Code taken from [Uiverse.io](<https: //uiverse.io/mrhyddenn/red-stingray-4>) 
And changed to fit with my site. */
footer li>a,
footer p>a {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    margin: 10px;
}

footer li>a::before,
footer p>a::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}

#facebook {
    border: 1px solid rgb(25, 112, 194);
    color: rgb(25, 112, 194);
}

#facebook:hover {
    color: #fff;
    border: 1px solid rgb(25, 112, 194);
}

#facebook:hover::before {
    box-shadow: inset 0 0 0 10em rgb(25, 112, 194);
}

#instagram {
    border: 1px solid rgb(237, 131, 184);
    color: rgb(237, 131, 184);
}

#instagram:hover {
    color: #fff;
    border: 1px solid rgb(237, 131, 184);
}

#instagram:hover::before {
    box-shadow: inset 0 0 0 10em rgb(237, 131, 184);
}

#twitter {
    border: 1px solid rgb(40, 144, 241);
    color: rgb(40, 144, 241);
}

#twitter:hover {
    color: #fff;
    border: 1px solid rgb(40, 144, 241);
}

#twitter:hover::before {
    box-shadow: inset 0 0 0 10em rgb(40, 144, 241);
}

#youtube {
    border: 1px solid rgb(235, 31, 31);
    color: rgb(235, 31, 31);
}

#youtube:hover {
    color: #fff;
    border: 1px solid rgb(235, 31, 31);
}

#youtube:hover::before {
    box-shadow: inset 0 0 0 10em rgb(235, 31, 31);
}


.links-page {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5rem;
}


footer p {
    font-size: 2rem;
    display: flex;
    padding-top: 1rem;
    align-items: center;
}

#codeinstitute {
    border: 1px solid rgb(238, 121, 18);
    color: rgb(238, 121, 18);
}

#codeinstitute:hover {
    color: #fff;
    border: 1px solid rgb(238, 121, 18);
}

#codeinstitute:hover::before {
    box-shadow: inset 0 0 0 10em rgb(238, 121, 18);
}

#my-name {
    border: 1px solid rgb(25, 112, 194);
    color: rgb(25, 112, 194);
}

#my-name:hover {
    color: #fff;
    border: 1px solid rgb(25, 112, 194);
}

#my-name:hover::before {
    box-shadow: inset 0 0 0 10em rgb(25, 112, 194);
}


.project-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    margin-top: 3rem;
}


/* Endscreen */
/* Taken some style inspiration from https: //uiverse.io/Praashoo7/tame-sloth-39 */
#username {
    font-size: 2rem;
    border: none;
    width: 25rem;
    outline: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
    text-align: center;
    border: 0.2rem solid #e8d398;
    background-color: rgb(255, 246, 231);
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
}

#username:focus {
    background-color: white;
    color: #1a1a1a;

    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}

/* High Scores */

.high-score {
    font-size: 2rem;
    padding: 1rem 0;
    width: 50rem;
    max-width: 50vw;
    text-align: center;
    border: 0.2rem solid #e8d398;
    border-radius: 1rem;
    margin-bottom: 1rem;
    list-style: none;
    display: grid;
    color: #cbb26a;
    background-color: rgb(255, 246, 231);
}


@media screen and (max-width: 600px) {
    /* Footer */

    footer li>a,
    footer p>a,
    footer p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    /* Footer */

    footer li>a,
    footer p>a,
    footer p {
        font-size: 1rem;
    }
}